yfinance
lxml
bs4
requests
pandas
pymysql # mysql驅動
cx_Oracle # oracle驅動
sqlalchemy # 支持 MySQL、SQL Server、Oracle(封裝)
seaborn
matplotlib
pandas_ta
tabulate
pyhumps
django
django-tables2
fugle_marketdata # 富果API