<form hx-post="{% url 'update_stock' stock_id %}" hx-target="this" hx-swap="outerHTML">
    {% for field, value in field_values %}
        <div class="mb-2">
            {% if field == 'stock_status' %}
                <div class="form-check form-switch">
                    <input type="hidden" name="{{ field }}" value="00"><!--此處才能觸發取消checkbox-->
                    <input class="form-check-input"
                           type="checkbox"
                           name="{{ field }}"
                           value="90"
                           id="statusSwitch{{ stock_id }}"
                           {% if value == '90' %}checked{% endif %}
                           hx-trigger="change"
                           hx-post="{% url 'update_stock' stock_id %}"
                           hx-target="this"
                           hx-swap="outerHTML">

                </div>
            {% else %}
                <input type="text"
                       name="{{ field }}"
                       value="{{ value }}"
                       class="form-control"
                       hx-trigger="blur"
                       hx-post="{% url 'update_stock' stock_id %}"
                       hx-target="this"
                       hx-swap="outerHTML">
            {% endif %}
        </div>
    {% endfor %}
</form>
